@model ProjectTask

@{
    ViewData["Title"] = "Add Project Page";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Add Project Task</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->



</div>



<!-- Content Wrapper. Contains page content -->

<div class="" style="">

    <!-- Main content -->
    <section class="content">
        <form method="POST" asp-action="Index">
            <input type="hidden" name="ProjectId" value="@ViewBag.ProjectId" />
            @*<input type="hidden" asp-for="TaskId" />*@
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="TaskName" class="control-label"></label>
                                <input asp-for="TaskName" class="form-control" />
                                <span asp-validation-for="TaskName" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Task Description</label>
                                <textarea name="projectDescription" id="inputDescription"
                                          class="form-control" is-warning"; ?>
									</textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="PercentageOfProject" class="control-label"></label>
                                <input asp-for="PercentageOfProject" class="form-control" />
                                <span asp-validation-for="PercentageOfProject" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <input type="hidden" asp-for="TaskProgress" value="0" class="form-control" />

                            </div>

                            @*<div class="form-group">
            <label asp-for="ProjectId"></label>
            <select asp-for="ProjectId" asp-items="Model.Project"></select>
        </div>*@
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Create new Task" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
