@model Project

@{
    ViewData["Title"] = "Add Project Page";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Add Project</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->



</div>



<!-- Content Wrapper. Contains page content -->

<div class="" style="">

    <!-- Main content -->
    <section class="content">
        <form method="POST" asp-action="Index">
            <input type="hidden" asp-for="ProjectId" />
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="ProjectName" class="control-label"></label>
                                <input asp-for="ProjectName" class="form-control" />
                                <span asp-validation-for="ProjectName" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Project Description</label>
                                <textarea name="projectDescription" id="inputDescription"
                                          class="form-control" is-warning"; ?>
									</textarea>
                            </div>
                            <div class="form-group">

                                <label asp-for="Status" class="control-label"></label>
                                <span asp-validation-for="Status" class="text-danger"></span>
                                <select asp-for="Status" 
                                        asp-items="Html.GetEnumSelectList<Status>()" class="form-control custom-select">
                                    <option selected="selected" value="">Select one</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Create new Porject" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
