@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card login-logout-tab">


            <div class="card-header">

                <ul class="nav nav-tabs card-header-tabs">

                    <li class="nav-item">
                        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>

                </ul>
            </div>
            <div class="container">
                @RenderBody()
            </div>
        </div>


    </div>

</div>

@section Scripts{
    @RenderSection("Scripts", required: false)

}