@model Project

@{
    ViewData["Title"] = "Add Project Page";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Add Project</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->



</div>



<!-- Content Wrapper. Contains page content -->

<div class="" style="">

    <!-- Main content -->
    <section class="content">
        <form method="POST" asp-action="Index">
          
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="ProjectName" class="control-label"></label>
                                <input asp-for="ProjectName" class="form-control" />
                                <span asp-validation-for="ProjectName" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Project Description</label>
                                <textarea name="projectDescription" id="inputDescription"
                                          class="form-control" is-warning"; ?>
									</textarea>
                            </div>
                            <div class="form-group">

                                <label asp-for="Status" class="control-label"></label>
                                <span asp-validation-for="Status" class="text-danger"></span>
                                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control custom-select">
                                    <option selected="selected" value="">Select one</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputClientCompany">Client Company</label>
                                <input name="clientCompany" type="text" id="inputClientCompany"
                                       class="form-control <?php if(!empty($errClientCompany)) echo " is-warning"; ?>
                            </div>
                            <div class="form-group">
                                <label for="inputProjectLeader">Project Leader</label>
                                <input type="text" name="projectLeader" id="inputProjectLeader"
                                       class="form-control <?php if(!empty($errProjectLeader)) echo " is-warning"; ?>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Budget</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputEstimatedBudget">Estimated budget</label>
                                <input type="number" name="estimatedBudget" id="inputEstimatedBudget"
                                       class="form-control <?php if(!empty($errEstimatedBudget)) echo " is-warning"; ?>
                            </div>
                            <div class="form-group">
                                <label for="inputSpentBudget">Total amount spent</label>
                                <input type="number" name="totalAmountSpent" id="estimatedBudget"
                                       class="form-control <?php if(!empty($errTotalAmountSpent)) echo " is-warning"; ?>
                            </div>
                            <div class="form-group">
                                <label for="inputEstimatedDuration">Estimated project duration</label>
                                <input type="number" name="estimatedProjectDuration" id="inputEstimatedDuration"
                                       class="form-control <?php if(!empty($errEstimatedProjectDuration)) echo " is-warning"; ?>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProjectProgress" class="control-label"></label>
                                <input asp-for="ProjectProgress" class="form-control" />
                                <span asp-validation-for="ProjectProgress" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- <a href="#" class="btn btn-secondary">Cancel</a> -->
                    <input type="submit" value="Create new Porject" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
